@page "/"
@using System.ComponentModel.DataAnnotations
@using FinanceControl.Blazor.Pages.Shared
@using FinanceControl.Blazor.Pages.Messages
@using FinanceControl.Contracts.Dtos.Auth
@using System.Threading.Tasks
@inject HttpClient Http
@inject NavigationManager NavigationManager

<Title Texto="@Title"></Title>
<Message Menssagem="@msg"></Message>

<EditForm Model="@loginRequest" OnValidSubmit="@HandleLogin">
    <DataAnnotationsValidator />
    <div class="shadow p-3 col-10 mx-auto">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email</label>
            <input type="email" @bind="loginRequest.Email" class="form-control" id="exampleInputEmail1" placeholder="seu@email.com">
            <ValidationMessage For="@(() => loginRequest.Email)" />
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Senha</label>
            <input type="password" @bind="loginRequest.Password" class="form-control" placeholder="senha">
            <ValidationMessage For="@(() => loginRequest.Password)" />
        </div>
    <div class="d-grid gap-2 col-6 mx-auto">
        <button type="submit" class="btn btn-outline-success" disabled="@isLoading">@(isLoading ? "Entrando...." : "Entrar")</button>
    </div>
    </div>
</EditForm>


<div class="shadow mt-5 p-3">
    <h2 class="text-center">Debug</h2>
    <div class="row border rounded mt-1">
        <div class="col border">
            <span>Email Digitado</span>
            <br />
            <div class="row mt-1 p-1">@loginRequest.Email </div>
        </div>
        <div class="col border">
            <span>Password</span>
            <br />
            <div class="row mt-1 p-1">@loginRequest.Password </div>
        </div>
    </div>
</div>

@code
{
    private string msg = "";
    string Title = "Login";
    private string errorMessage = string.Empty;
    private bool isLoading = false;
    void Mudar()
    {
        Title = "Salvando dados...";
    }

    private LoginRequestDto loginRequest = new LoginRequestDto();

    public async Task HandleLogin()
    {
        msg = "Enviando dados para API...";
        isLoading = true;
        errorMessage = string.Empty;
        msg = "Enviando dados para API...";
        try
        {
            var response = await Http.PostAsJsonAsync("user/login", loginRequest);

            if (response.IsSuccessStatusCode)
            {
                var result = await response.Content.ReadFromJsonAsync<LoginResponseDto>();
                msg = $"Bem vindo, {result!.Name}!";
                // Redirecionar para a página inicial ou dashboard
                NavigationManager.NavigateTo("/home");
            }
            else if (response.StatusCode == System.Net.HttpStatusCode.Unauthorized)
            {
                errorMessage = "Credenciais inválidas. Por favor, tente novamente.";
                msg = errorMessage;
            }
            else
            {
                msg = $"Status: {response.StatusCode} - {await response.Content.ReadAsStringAsync()}";
            }
        }
        catch (Exception ex)
        {

            msg = $"Erro: {ex.Message}";
        }
        finally
        {
            isLoading = false;
        }

    }

}
